<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <ProjectGuid>00000000-0000-0000-0000-000000000001</ProjectGuid>
    <publishUrl>C:\inetpub\wwwroot\LFPortal</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <TargetFramework>net8.0</TargetFramework>
  </PropertyGroup>
</Project>
